---
import Btn from "../components/Btn.astro";
import Layout from "../layouts/Layout.astro";
// params
const { route } = Astro.params;
// utils
import { TracksSectData } from "../utils/localdata";
const oneTrackData = TracksSectData.find((el) => el.route === route);
---

<Layout title={oneTrackData.title}>
  <section>
    <div class="Text">
      <h2 transition:name={`title-${oneTrackData.route}`}>
        {oneTrackData.title}
      </h2>
      <hr />
      <div class="foo">
        <h6>О задаче</h6>
        <p>{oneTrackData.description}</p>
      </div>
    </div>
    <div class="Image" 
    style={`background: ${oneTrackData.color}`}
    >
      <b class={`${oneTrackData.light ? "text-black" : ""}`}
        >{oneTrackData.label}</b
      >
      <img
      transition:name={oneTrackData.route}
        src={oneTrackData.image}
        alt={oneTrackData.title}
      />
      <a
        href="/"
        class={`Btn ${oneTrackData.light ? "text-black border-black" : ""}`}
      >
        Подать заявку
   <span>→</span>
      </a>
    </div>
  </section>

  <style lang="scss">
    section {
      @apply flex items-center justify-between h-screen;
      .Text {
        @apply max-w-[770px];
        h2 {
          @apply text-white text-8xl font-medium font-['Inter'] leading-[106.81px];
        }
        hr {
          @apply my-12;
        }
        .foo {
          @apply flex justify-between;
          h6 {
            @apply text-white text-opacity-50 text-[26px] font-bold font-Inter leading-[73.41px];
          }
          p {
            @apply max-w-[510px] text-white text-opacity-50 text-[18px] font-bold font-['Inter'] leading-[33.80px];
          }
        }
      }
      .Image {
        @apply w-[40%] py-[57px] px-[47px] rounded-[25px];
        b {
          @apply font-Inter;
        }
        img {
          @apply mx-auto mb-10;
        }
        a {
          @apply inline-block w-full py-[16px] px-[66px] border-2 rounded-full font-Inter font-bold hover:bg-white hover:text-black transition;
          &:hover{
            svg{
              @apply fill-white
            }
          }
        }
      }
    }
  </style>
</Layout>
