---
const { image, title, description, label, color, light, className } = Astro.props;
---

<div class={`Track ${className ? className : ""}`} style={`background: ${color}; ${light? "color: black;": "color: white;" }`}>
  <b>{label}</b>
  <img src={image} alt="" />
  <h4>{title}</h4>
  <p>{description}</p>
</div>

<style lang="scss">
  .Track {
    @apply mb-[40px] mx-3 rounded-3xl lg:px-8 px-5 lg:py-6 py-6;
    &:not(.full){
      @apply lg:w-[48%] w-full
    }
    b{
      @apply block mb-3 font-['Inter']
    }
    img{
      @apply mx-auto max-w-[250px] w-full mb-20
    }
    h4 {  
      @apply font-['Inter'] text-3xl font-semibold mb-5;
    }
    p{
      @apply font-normal font-['Inter'] opacity-50 max-w-[475px]
    }
  }
</style>
