---
const {
  image,
  title,
  description,
  label,
  color,
  light,
  className,
  route,
  pos,
} = Astro.props;

import { posStatus } from "../utils/localfunctions";
import "../styles/components-styles/Track.scss"
---

<a
  href={route}
  class={`Track ${className ? className : ""}`}
  style={`background: ${color}; ${light ? "color: black;" : "color: white;"}`}
  data-aos={`${posStatus(pos)}`}
  data-aos-duration="400"
>
  <b>{label}</b>
  <img src={image} alt="" transition:name={route} />
  <h4 transition:name={`title-${route}`}>{title}</h4>
  <p>{description}</p>
</a>
