---
const { image, title, description, label, color, light } = Astro.props;
---

<div class="Track" style={`background: ${color}; ${light? "color: black;": "color: white;" }`}>
  <b>{label}</b>
  <img src={image} alt="" />
  <h4>{title}</h4>
  <p>{description}</p>
</div>

<style lang="scss">
  .Track {
    @apply break-inside-avoid mb-[40px] mx-3 rounded-3xl md:px-[65px] px-8 md:py-[47px] py-6;
    
    b{
      @apply inline-block mb-3 font-['Inter']
    }
    img{
      @apply mb-20
    }
    h4 {
      @apply font-['Inter'] text-3xl font-semibold mb-5;
    }
    p{
      @apply font-normal font-['Inter'] opacity-50
    }
  }
</style>
