---
import { GallerySectData } from "../utils/localdata";
import GalleryCard from "../components/GalleryCard.astro";
import "../styles/pages-styles/indexPage/sections/Gallery.scss"
---

<section class="Gallery">
  <h6>Прошлые хакатоны</h6>
  <h4>Как это было</h4>
  <div class="ImagesGallery">
    <div class="Column">
      {
        GallerySectData.map((el) => (
          <GalleryCard className="GCard" ImgData={el} />
        )).slice(0, 3)
      }
    </div>
    <div class="Column">
      {
        GallerySectData.map((el) => (
          <GalleryCard className="GCard" ImgData={el} />
        )).slice(3, 6)
      }
    </div>
    <div class="Column">
      {
        GallerySectData.map((el) => (
          <GalleryCard className="GCard" ImgData={el} />
        )).slice(6, 9)
      }
    </div>
    <div class="Column">
      {
        GallerySectData.map((el) => (
          <GalleryCard className="GCard" ImgData={el} />
        )).slice(9, 12)
      }
    </div>
    <div class="Column">
      {
        GallerySectData.map((el) => (
          <GalleryCard className="GCard" ImgData={el} />
        )).slice(12, 15)
      }
    </div>
    <div class="Column">
      {
        GallerySectData.map((el) => (
          <GalleryCard className="GCard" ImgData={el} />
        )).slice(15, 18)
      }
    </div>
  </div>
</section>

<script>
  // gsap animations
  import gsap from "gsap";
  let Columns = document.querySelectorAll(".Column");
  Columns.forEach((column, key) => {
    if (key % 2 == 0) {
      gsap.fromTo(
        column,
        {
          y: 0,
          duration: 7,
          repeat: -1,
          yoyo: true,
          yoyoEase: "linear"
        },
        {
          y: 50,
          duration: 7,
          repeat: -1,
          yoyo: true,
          yoyoEase: "linear"
        },
      );
    } else {
      gsap.fromTo(
        column,
        {
          y: 0,
          duration: 7,
          repeat: -1,
          yoyo: true,
          yoyoEase: "linear"
        },
        {
          y: -50,
          duration: 7,
          repeat: -1,
          yoyo: true,
          yoyoEase: "linear"
        },
      );
    }
  });

  // hover events

  let ImagesGallery = document.querySelector(".ImagesGallery");
  let GCard = document.querySelectorAll(".GCard");
  ImagesGallery.addEventListener("mouseover", () => {
    GCard.forEach((el) => {
      el.classList.add("onhover");
    });
  });
  ImagesGallery.addEventListener("mouseout", () => {
    GCard.forEach((el) => {
      el.classList.remove("onhover");
    });
  });
</script>
