---
import { GallerySectData } from "../utils/localdata";
import GalleryCard from "../components/GalleryCard.astro";
---

<section class="Gallery">
  <h6>Прошлые хакатоны</h6>
  <h4>Как это было</h4>
  <div class="ImagesGallery">
    <div class="Column" transition:persist>
      {
        GallerySectData.map((el) => (
          <GalleryCard className="GCard" ImgData={el} />
        )).slice(0, 3)
      }
    </div>
    <div class="Column" transition:persist>
      {
        GallerySectData.map((el) => (
          <GalleryCard className="GCard" ImgData={el} />
        )).slice(3, 6)
      }
    </div>
    <div class="Column" transition:persist>
      {
        GallerySectData.map((el) => (
          <GalleryCard className="GCard" ImgData={el} />
        )).slice(6, 9)
      }
    </div>
    <div class="Column" transition:persist>
      {
        GallerySectData.map((el) => (
          <GalleryCard className="GCard" ImgData={el} />
        )).slice(9, 12)
      }
    </div>
    <div class="Column" transition:persist>
      {
        GallerySectData.map((el) => (
          <GalleryCard className="GCard" ImgData={el} />
        )).slice(12, 15)
      }
    </div>
    <div class="Column" transition:persist>
      {
        GallerySectData.map((el) => (
          <GalleryCard className="GCard" ImgData={el} />
        )).slice(15, 18)
      }
    </div>
  </div>
</section>

<style lang="scss">
  section.Gallery {
    @apply overflow-hidden mb-20;
    h6 {
      @apply text-center text-orange-600 text-[22px] font-normal font-Inter mb-4;
    }
    h4 {
      @apply text-center text-neutral-100 text-4xl font-normal font-Inter mb-20;
    }
    .ImagesGallery {
      @apply flex items-end gap-6;
      .Column {
         .GCard {
          // @apply blur-sm opacity-40;
        }
      }
      .Column:nth-child(2) {
        @apply translate-y-16;
      }
      .Column:nth-child(3) {
        @apply translate-y-36;
      }
      .Column:nth-child(4) {
        @apply translate-y-52;
      }
      .Column:nth-child(5) {
        @apply translate-y-16;
      }
    }
  }
</style>
<script>
  import gsap from "gsap";
  let Columns = document.querySelectorAll(".Column");
  Columns.forEach((column, key) => {
    if (key % 2 == 0) {
      gsap.fromTo(
        column,
        {
          y: 0,
          duration: 7,
          repeat: -1,
          yoyo: true,
          ease: "in",
        },
        {
          y: 50,
          duration: 7,
          repeat: -1,
          yoyo: true,
        },
      );
    } else {
      gsap.fromTo(
        column,
        {
          y: 0,
          duration: 7,
          repeat: -1,
          yoyo: true,
        },
        {
          y: -50,
          duration: 7,
          repeat: -1,
          yoyo: true,
        },
      );
    }
  });
</script>
