---
import Track from "../components/Track.astro";
import { TracksSectData } from "../utils/localdata";
---

<section class="Tracks">
  <h6>Треки <img src="./south_east_FILL0.svg" alt="" /></h6>
  <div class="Frame">
    <div class="LeftSide">
      {
        TracksSectData.map((el) => (
          <Track
            image={el.image}
            title={el.title}
            label={el.label}
            description={el.description}
            color={el.color}
            light={el.light}
            className="full"
            route={el.route}

          />
        )).slice(0, 2)
      }
    </div>
    <div class="RightSide">
      {
        TracksSectData.map((el) => (
          <Track
            image={el.image}
            title={el.title}
            label={el.label}
            description={el.description}
            color={el.color}
            light={el.light}
            className="full"
            route={el.route}
            
          />
        )).slice(2, 4)
      }
    </div>
  </div>
  {
    TracksSectData.filter((el) => el.image === null).map((el) => (
      <Track
        title={el.title}
        description={el.description}
        label={el.label}
        color={el.color}
        light={el.light}
        className="full"
      />
    ))
  }
  <div class="Bottom">
    {
      TracksSectData.map((el) => (
        <Track
          image={el.image}
          title={el.title}
          label={el.label}
          description={el.description}
          color={el.color}
          light={el.light}
          route={el.route}
        />
      )).slice(5)
    }
  </div>
</section>

<style lang="scss">
  section.Tracks {
    @apply xl:w-[81%] mx-auto w-full mb-36;
    h6 {
      @apply font-['Inter'] mb-10;
      img {
        @apply inline-block w-[20px];
      }
    }
    .Frame {
      @apply flex items-end justify-center sm:justify-between max-sm:flex-wrap;
      .RightSide,
      .LeftSide {
        @apply w-full;
      }
    }
    .Bottom {
      @apply flex items-start justify-center max-sm:flex-wrap;
      .Tracks {
        @apply w-full;
      }
    }
  }
</style>
